@charset "UTF-8";

h4{
	
	margin-left: 480px;
	text-align: left;
}
.color{
	background-color: orange;
	margin-left: 5px;
	margin-right: 10px; 
}

iframe {
    width: 560px;
    height: 260px;
}

video {
    width: 560px;
}

.text {
margin-bottom: 20px;
}